.reg{

width: 20%;
margin: auto;
text-align: center;
background-color: azure;
position:absolute;
top:8%; bottom:8%;
left:20%;
right: 20%;

}
.option{
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;

}